.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.h4 {
    color: #fff;
}

.button-google {
    margin-top: 1rem;
    padding: 0.6rem;
    border-radius: 2rem;
    width: 20rem;
    font-weight: 600;
    font-size: large;
}

.google-logo {
    margin-bottom: 0.4rem;
    margin-right: 1rem;
    width: 2rem;
    height: 1.9rem;
}