.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.sign-google {
    color: #fff;
    font-size: 2.1em;
    font-weight: 400;
}

.button-google {
    margin-top: 1.3rem;
    padding: 0.6rem;
    border-radius: 2rem;
    width: 20rem;
    font-weight: 600;
    font-size: large;
}

.button-google:hover {
    background: #c3c2c2;
}

.google-logo {
    margin-bottom: 0.4rem;
    margin-right: 1rem;
    width: 2rem;
    height: 1.9rem;
}