.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    color: var(--white);
}

.home-main {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.img {
    margin-top: 3rem;
    margin-right: 1rem;
    height: 40%;
    width: 40%;
}

.home-h1 {
    color: var(--white);
    margin-left: 1rem;
    font-size: 3em;
}

.home-h1:hover {
    color: var(--primary-color);
    transition: 1s ease;
}

