.navbar-container {
    display: flex;
    gap: 2rem;
    padding: 0.9rem;
    color: var(--white);
}

.logo-blog {
    font-family: 'Bruno Ace SC', cursive;
    margin-top: 1rem;
    margin-right: 22rem;
    font-size: 1.7rem;
    color: var(--primary-color);
}

p {
    padding-top: 1rem;
    padding-left: 4rem;
}

img {
    margin-top: 0.3rem;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 99px;
}

.home {
    margin-top: 0.78rem;
    color: var(--white);
    text-decoration: none;
    border-bottom: 3px solid var(--white);
    margin: 0.9rem; 
}

.createPost {
    margin-top: 0.78rem;
    color: var(--white);
    text-decoration: none;
    border-bottom: 3px solid var(--white);
    margin: 0.9rem;
}

.login {
    margin-top: 0.78rem;
    color: var(--white);
    text-decoration: none;
    border-bottom: 3px solid;
    margin: 0.9rem;
} 

.home:hover {
    border-bottom-color:  var(--primary-color);
    transition: 0.3s ease;
}

.login:hover {
    border-bottom-color:  var(--primary-color);
    transition: 0.3s ease;
}

.createPost:hover {
    border-bottom-color:  var(--primary-color);
    transition: 0.3s ease;
}

.logout-button {
   background-color: transparent;
   margin-bottom: 0.2rem;
   color: var(--white);
   border: none;
}

.logout-button:hover {
    color: var(--primary-color);
}
