:root {
    --background-color: #F6F6F6;
    --primary-color: #329BDA;
    --white: #fff;
    --grey: #E7E7E7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background: var(--background-color);
    --webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

button {
    cursor: pointer;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0.9rem;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: #fff;
}

p {
    padding-top: 1rem;
    padding-left: 4rem;
}

img {
    margin-top: 0.3rem;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 99px;
}

.home {
    margin-top: 0.78rem;
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid #fff;
    margin: 0.9rem;
}

.login {
    margin-top: 0.78rem;
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid #fff;
    margin: 0.9rem;
}

.home:hover {
    border-bottom-color: #000000;
    transition: 0.3s ease;
}

.login:hover {
    border-bottom-color: #000000;
    transition: 0.3s ease;
}

