:root {
    --background-color: #F6F6F6;
    --primary-color: #9B06CE;
    --white: #fff;
    --grey: #232123;
    --grey-light: #b9b9b9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background: var(--grey);
    --webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

body,
input,
textarea,
button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

button {
    cursor: pointer;
}
