.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.section-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-color);
    border-radius: 1rem;
    min-height: 28rem;
    width: 40%;
    border-radius: 50px;
    background: #232123;
    box-shadow:  5px 5px 10px #1c1a1c,
                 -5px -5px 10px #2a282a;
}

.create-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-create {
    background: var(--grey-light);
    padding: 0.4rem 0.9rem;
    border-radius: 0.5rem;
    min-width: 25rem;
    min-height: 2.5rem;
    font-size: 1.2em;
}

.description-create {
    width: 16rem;
    padding: 0.4rem 0.9rem;
    border-radius: 0.5rem;
    background: var(--grey-light);
    min-width: 25rem;
    min-height: 2.5rem;
    margin-top: 0.5rem;
    font-size: 1.2em;
}

.button-submit {
    padding: 0.3rem;
    border-radius: 0.5rem;
    background: var(--grey-light);
    min-width: 15rem;
    min-height: 2.5rem;
    margin-top: 0.5rem;
    font-size: 1.2em;
}


.button-submit:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
  }

.create-h1 {
    padding: 3rem;
    font-size: 3.4em;
    color: rgb(255, 255, 255);
}

input,
textarea {
    border: none;
    z-index: 1;
}

.errors {
    text-align: center;
    color: rgb(255, 6, 6);
    font-weight: 500;
    margin-top: 0.5rem;
}
